nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    border-bottom: 1px solid black;
}

#topNav {
    flex-direction: row;
    align-items: flex-start;
    height: 30px;
    border-bottom: 1px solid  lightgrey;
}

#topNav img{
    height: 54px;
    width: 105px;
    margin-top: -23px;
    margin-bottom: 0px;
}